@media screen and (min-width: 1200px) {
  .container {
    width: 1128px;
  }
  /* --------------SECTION LIGHT--------------  */
  .light {
    padding: 120px 0;
  }

  .light-list {
    gap: 24px;
  }

  .light-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .light-item-icon {
    display: block;
    background-color: var(--light);
    padding: 24px 100px;
    border-radius: 4px;
  }

  .light-title {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .light-after-title {
    font-weight: 400;
  }

  /* --------------SECTION CLIENTS--------------  */

  .clients {
    padding: 120px 0;
  }
  .clients-list {
    /* width: 1128px;
    gap: 24px; */
  }
  .clients-item {
    flex-basis: calc((100%-24px) / 6);
  }
  /* --------------SECTION TEAM--------------  */
  .team {
    padding: 120px 0;
  }
  /* --------------FOOTER--------------  */
  .line {
    flex-wrap: nowrap;
  }

  .footer-info {
    margin-bottom: 0;
    margin-right: 120px;
  }
  .footer-logos {
    justify-content: left;
  }
  .footer-title {
    text-align: left;
  }
  .footer-media {
    margin-bottom: 0;
    margin-right: 80px;
  }

  .footer-post {
    flex-wrap: nowrap;
  }
}
