@media screen and (min-width: 768px) {
  ul {
    margin: 0;
  }
  .container {
    width: 736px;
    padding: 0 15px;
  }
  /* --------------HEADER--------------  */
  .header-navigation {
    margin-left: 123px;
    margin-right: auto;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-list-contact {
    display: block;
    justify-content: right;
  }
  .header-mailto,
  .header-tel {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
  .header-mailto {
    margin-bottom: 4px;
  }
  /* --------------SECTION HERO--------------  */
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
  }

  /* --------------SECTION LIGHT--------------  */
  .light-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .light-item {
    max-width: 356px;
    flex-basis: calc((100%-30px) / 2);
  }

  .light-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: left;
  }
  /* --------------SECTION CLIENTS--------------  */
  .clients-list {
    column-gap: 24px;
  }

  .clients-item {
    max-width: 168px;
    flex-basis: calc((100%-24px) / 3);
  }

  .clients-icon {
    width: 104px;
  }
  /* --------------SECTION TEAM--------------  */
  .team {
    padding-bottom: 104px;
  }
  .team-list {
    gap: 24px;
    row-gap: 64px;
  }
  /* --------------FOOTER--------------  */
  .footer-info {
    margin-right: 24px;
  }
  .footer-media-title {
    text-align: left;
  }
}
